.optum-row{  margin: 4px 0px; }
.textbox-ctl{ display: block; width: 100%; border: 1px solid #ddd; height: 100px;}
.text-areabox-ctl{ 
    display: block; width: 100%; border: 1px solid #ddd; height: 100px;
    border-radius: 8px;
    height: 130px;
    outline: none;
    padding: 10px;
    margin: 10px 0px;
}
.flex-row{ display: flex; gap: 8px;}
.col-item1{   
    flex: 0 0 50%; 
}
.col-item2{   
    flex: 0 0 50%; 
}
.btn-leftAlign{ text-align: right;}
.ctl-label{ display: block;   height: 20px; line-height: 20px; }
.select-list{
    height: 32px;
    border: 1px;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #ffff;
    color: black;
    font-size: 14px;
    min-width: 180px;
    margin: 10px 0px;
    outline: none;

}
.btn-row{ display: block; width: 100%; height: 42px; margin: auto; text-align: right; }